
.vs/WMIDataCollector/v15/.suo
.vs/WMIDataCollector/v15/Server/sqlite3/db.lock
.vs/WMIDataCollector/v15/Server/sqlite3/storage.ide
.vs/WMIDataCollector/v15/Server/sqlite3/storage.ide-shm
.vs/WMIDataCollector/v15/Server/sqlite3/storage.ide-wal
src/obj/Debug/netcoreapp2.2/WMIDataCollector.assets.cache
src/obj/Debug/netcoreapp2.2/WMIDataCollector.csproj.CoreCompileInputs.cache
.vs/WMIDataCollector/v15/.suo
src/obj/Debug/netcoreapp2.2/WMIDataCollector.assets.cache
src/obj/Debug/netcoreapp2.2/WMIDataCollector.csproj.CoreCompileInputs.cache
